<section class="section contact">
  <div class="container">
    <h2>Kontakt <span>do mnie</span></h2>
    <div class="contact__content">
        <div class="contact__info"><mat-icon>email</mat-icon><a href="mailto:tomasz.osilek@example.com">tomasz.osilek@example.com</a></div>
        <div class="contact__info"><mat-icon>phone</mat-icon><a href="tel:+1234567890">+1234567890</a></div>
        <div class="contact__info"><mat-icon>location_on</mat-icon><a href="#">ul. Przykładowa 1, 00-000 Kraków</a></div>
    </div>
    <p><strong>Uwaga!</strong> Ostatnie wolne terminy do zapisu na nowy miesiąc. Do 10-go dnia każdego miesiąca pierwszy trening 50% taniej!</p>
  </div>
</section>
